<form method="POST" action="/search">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>  